@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary: #c818a9;
  --white: #ffffff;
  --black: #000000;
  --green: #008000;
  --lit-txt: #cccccc;
  --dk-lit: #1c1c1c;
  --card-bg: #272727;
  --pr-head: #a9a9a9;
  --btn-model: #4e5aea;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  position: relative;
}
.df-Jcc {
  display: flex;
  justify-content: center;
}
.df-JccFdc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.df-AicFdc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.df-Aic {
  display: flex;
  align-items: center;
}
.df-AicJcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-JcsbFdc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.df-AicJcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navbar {
  display: none;
}
.navbar {
  background: var(--black);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  user-select: none;

  transition: all 1.75s ease 0.5s;
  transform: translateY(-100%);
  opacity: 0;
}
.navbar ul {
  margin: 0 3em;
  height: 4em;
}
.nexus-logo {
  cursor: pointer;
}
.navbar ul li .logo {
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 0.1em;
}

.navbar ul div {
  gap: 0.5em;
  width: 25em;
}
ul div a {
  font-weight: 600;
  padding: 1em;
  transition: color 0.5s ease;
}
ul div a:hover {
  color: var(--primary);
}
.btn {
  background: var(--primary);
  font-size: 0.9em;
  border-radius: 2em;
  padding: 0.8em 1.5em;
  border: none;
  cursor: pointer;
}
.hero-section {
  position: relative;
  flex-direction: column;
  background: url("/assets/img/bg.png") no-repeat center top/cover;
  height: calc(100vh - 4em);
  color: var(--white);
  overflow: hidden;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.hero-section * {
  position: relative;
  z-index: 2;
}
.text-area {
  width: 40em;
}
.text-area h1 {
  font-size: 3.75em;
}
.text-area div {
  margin: 1em;
}
.text-area div a {
  padding: 0 1em;
}
.text-area p {
  color: var(--lit-txt);
  font-weight: 200;
  line-height: 1.2;
  text-align: center;
}
.text-area button {
  border: none;
  background: none;
  margin: 2em;
}
.text-area button span {
  gap: 0.1em;
  padding: 0.75em 1.6em;
  margin: 0 0.5em;
  border-radius: 2em;
  border: 1px solid var(--primary);
  cursor: pointer;
}
.text-area button span:last-child {
  background: var(--primary);
}
.enq-section {
  background: var(--dk-lit);
  padding: 3em 6em;
  height: 100vh;
}
.enq-section article,
.sec-art article {
  padding: 0 0 2em;
  text-align: center;
}
.enq-section article p:first-child {
  color: var(--primary);
  font-size: 0.9em;
}
.enq-section article p:first-child {
  color: var(--primary);
  font-size: 0.9em;
  margin-bottom: 1em;
}
.enq-section article p:last-child {
  word-spacing: 0.1em;
}
.enq-section .gd {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 2.5em;
}
.gd div {
  gap: 1em;
  text-align: center;
  color: var(--white);
  font-size: 0.9em;
  font-weight: 200;
}
.gd img {
  width: 3.5em;
}
.gd p {
  color: var(--lit-txt);
  font-weight: 200;
}
.sec-art {
  background: var(--black);
  display: flex;
  flex-direction: column;
  padding: 3em 6em;
  height: 100vh;
}
.sec-art article h2 {
  font-size: 1.9em;
  color: var(--primary);
}
.text {
  font-size: 0.8em;
  line-height: 1.4;
  margin: 1em;
}
.sec-art .df {
  gap: 3em;
  color: var(--white);
}
.df .card {
  background: var(--card-bg);
  width: 21em;
  height: 24em;
  border-radius: 1em;
  padding: 2em 1em;
}
.card .card-item {
  display: flex;
  flex-direction: column;
  height: 16.5em;
}
.card .card-item div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  text-align: center;
}
.card-item h3 {
  color: var(--white);
}
.limit {
  background: var(--primary);
  color: var(--white);
  align-self: center;
  padding: 0.3em 1.5em;
  border-radius: 2em;
  border: 1px solid var(--white);
  user-select: none;
}
.card-item div span b {
  color: var(--primary);
}
.card li {
  margin: 1em 0;
}
.card button {
  background: none;
  color: var(--white);
  font-weight: 600;
  padding: 1em;
  margin: 1em 0;
  border: 2px solid var(--primary);
  border-radius: 2em;
}
.card:nth-child(2) {
  background: none;
  border: 2px solid var(--primary);
}
.card:nth-child(2) .card-item div span b {
  color: var(--white);
}
.card:nth-child(2) button {
  background: var(--primary);
}
.card:hover {
  transition: transform 0.5s ease;
  transform: scale(1.03);
}
.card:hover button {
  transition: background 0.5s ease;
  background: var(--primary);
}
.card:nth-child(2):hover button {
  transition: background 0.5s, ease color 0.5s ease;
  background: var(--white);
  color: var(--primary);
  border: 2px solid var(--white);
}
.card:hover span b {
  color: var(--white);
  transition: color 0.5s ease;
}
.view {
  padding: 2em 0 0;
  color: var(--primary);
  align-self: center;
}
.view:hover {
  color: var(--white);
}
.cpt,
.quest {
  background: var(--dk-lit);
  height: 100vh;
}
.cpt span {
  background: var(--black);
  width: 23em;
  border-radius: 2em;
  padding: 0.3em;
}
.move {
  background: var(--primary);
}
.cpt span a:first-child {
  padding: 0.3em 2.5em;
}
.cpt span a {
  color: var(--white);
  font-size: 0.8em;
  padding: 0.3em 2em;
  border-radius: 2em;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 3em;
}
.imgCard {
  background: var(--black);
  padding: 0.4em;
  border-radius: 0.5em;
  width: 13em;
  overflow: hidden;
}
.imgCard img {
  padding: 0.1em;
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0.5em 0.5em 0 0;
}
.imgCard:hover img {
  transition: all 0.75s ease;
  transform: scale(1.02);
}
.imgCard h4 {
  color: var(--white);
  font-weight: 400;
  font-size: 0.85em;
}
.imgCard p {
  margin: 0.3em 0;
  font-size: 0.75em;
}
.imgCard li {
  list-style: disc;
  font-size: 0.75em;
  margin-left: 1.8em;
}
.view-all {
  color: var(--primary);
  font: size 0.8em;
  font-weight: 600;
  padding: 1em 0;
  margin-left: 53em;
  cursor: pointer;
  transition: color 0.5s ease;
}
.view-all:hover {
  color: var(--white);
}
.modelContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background 1.75s ease;
}
.model {
  background: var(--white);
  min-width: 20em;
  padding: 1.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  transform: translateX(25em);
  opacity: 0;
  transition: all 1.75s ease;
}
.model h3 {
  color: var(--green);
  padding: 0 0 1em;
}
.model p {
  padding: 2em 0 1em;
  border-top: 1px solid var(--lit-txt);
  border-bottom: 1px solid var(--lit-txt);
}
.model button {
  border: none;
  margin: 1.5em 0 0;
  align-self: flex-end;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  background: var(--btn-model);
  color: var(--white);
}
.show {
  background: #0000009c;
  display: flex;
}
.open {
  transform: translateX(0);
  opacity: 1;
}
.chat {
  position: fixed;
  bottom: 3em;
  right: 2.8em;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transform: translateX(10em);
}
.chat.visible {
  transform: translate(0);
  opacity: 1;
  pointer-events: auto;
}
.cls-1 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke: var(--primary);
  transition: stroke 0.3s ease;
}
.cls-2 {
  fill: #959cf2;
  transition: fill 0.3s ease;
}
.icon:hover .cls-1 {
  stroke: #4e5aea;
}
.event {
  background: var(--black);
  height: auto;
  padding-bottom: 3em;
  user-select: none;
}
.eDates {
  color: var(--white);
  background: var(--dk-lit);
  width: 100%;
  padding: 1.3em 2em;
  border-radius: 1em 1em 0 0;
  font-size: 0.9em;
}
.mob-eDates {
  display: none;
}
.event-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em 8em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2.5em 0 0;
}
.eCard {
  background: var(--dk-lit);
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid var(--dk-lit);
}
.eCard:hover {
  transition: all 0.5s ease;
  border: 2px solid var(--primary);
  background: none;
}
.nameDiv b {
  color: var(--white);
  font-weight: 400;
}
.nameDiv p {
  margin-top: 0.5em;
  font-size: 0.9em;
}
.eCard .time {
  color: var(--primary);
  font-size: 0.9em;
}
.pro {
  padding: 1.5em 0;
  align-self: end;
}
footer {
  background: var(--black);
  color: var(--white);
  height: 50vh;
  padding: 3em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 200;
  font-size: 0.9em;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  padding: 0 1em;
}
.info {
  display: flex;
  flex-direction: column;
  width: 30em;
}
.info h4 {
  align-self: flex-start;
  font-weight: 400;
}
.info div {
  display: flex;
  gap: 0.5em;
}
.mC {
  margin: 0.5em 0;
}
.email-Input {
  background: none;
  outline: none;
  border: 1px solid var(--dk-lit);
  padding: 0.7em;
  border-radius: 0.5em;
  flex: 1;
}
.mC {
  margin: 1em 0;
}
.lh {
  color: var(--white);
}
.mb {
  margin: 0.3em 0;
}
.col-pr-head {
  color: var(--pr-head);
}
.link-div {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.copy-right {
  padding: 2em 0 0;
  text-align: center;
  border-top: 2px solid var(--dk-lit);
}
.inks ul {
  display: flex;
  gap: 0.2em;
  margin: 0.5em 0;
}
.user-select {
  user-select: none;
}
.quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.questions {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.ans {
  border-bottom: 1px solid var(--card-bg);
  width: 100%;
  padding: 1em 0;
}
.answer {
  display: flex;
  justify-content: space-between;
}
.ans:hover .answer {
  transition: color 0.5s ease;
  color: var(--primary);
}
.arrows {
  transition: transform 0.5s ease;
}
.rotate {
  color: var(--primary);
  transform: rotate(180deg);
}
.colored {
  color: var(--primary);
}
.ansQ {
  font-size: 0.8em;
  padding-top: 1em;
  margin: 0 2em;
  cursor: pointer;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1.75s ease;
}
.active {
  max-height: 8em;
  opacity: 1;
}
.from-up {
  transition: all 1.75s ease 0.5s;
  transform: translateY(-10em);
  opacity: 0;
  overflow: hidden;
}
.from-down {
  transition: all 1.75s ease;
  transform: translateY(10em);
  opacity: 0;
  overflow: hidden;
}
.from-left {
  transition: all 1.75s ease 0.5s;
  transform: translateX(-10em);
  opacity: 0;
  overflow: hidden;
}
.from-right {
  transition: all 1.75s ease 0.5s;
  transform: translateX(10em);
  opacity: 0;
  overflow: hidden;
}

@media (max-width: 48em) {
  /* 768px = 48em*/
  .df-AicJcsb {
    flex-wrap: wrap;
  }
  .navbar {
    display: none;
  }
  .mobile-navbar {
    background: var(--black);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .nav-header {
    display: flex;
    align-items: center;
    padding: 1em;
  }
  .mobile-logo {
    color: var(--white);
    font-weight: 600;
    font-size: 1.2em;
    margin-right: auto;
    z-index: 20;
  }
  .mobile-links {
    background: var(--black);
    position: fixed;
    bottom: 0;
    height: 100dvh;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 3em 2em;
    margin-top: 1.2em;
    z-index: 10;

    transition: all 1.75s ease;
    transform: translateX(-15em);
    opacity: 0;
  }
  .mobile-links a {
    font-size: 1em;
    text-align: left;
    width: 100%;
    padding: 1em 0;
  }
  .bars,
  .xmark {
    margin-right: 0.5em;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1.75s ease;
    opacity: 0;
    z-index: -10;
  }
  .opac {
    z-index: 9;
    opacity: 1;
  }
  .display {
    display: none;
  }
  .sec-art,
  .enq-section {
    padding: 3em 2em;
    height: auto;
  }
  .hero-section {
    height: 80vh;
  }
  .text-area {
    width: 90%;
    max-width: 40em;
  }
  .text-area h1 {
    font-size: 3em;
  }
  .text-area p {
    font-size: 0.9em;
  }
  .text-area div a {
    padding: 0 0.5em;
    font-size: 0.9em;
    margin: 0.5em 0;
  }
  .text-area button {
    gap: 2em;
    width: 27em;
    margin: 1em;
  }
  .text-area button span {
    width: 100%;
    justify-content: center;
    margin: 0.5em 0;
  }
  .enq-section .gd {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 1em;
  }
  .sec-art .df {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
  .df .card {
    height: 25em;
    max-width: 28em;
  }
  .card .card-item {
    height: auto;
  }
  /* Lineup Section Adjustments */
  .cpt span {
    width: 90%;
    max-width: 23em;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em 2.5em;
  }
  .imgCard {
    width: 100%;
    max-width: 16em;
  }
  .view-all {
    margin-left: 0;
    align-self: center;
    margin-top: 1em;
  }
  /* Schedule Section Adjustments */
  .event-Container {
    gap: 1em;
  }
  .pro {
    align-self: center;
  }
  .questions {
    width: 90%;
  }
  footer {
    height: auto;
    padding: 3em 2em;
  }
  .links {
    flex-direction: column;
    gap: 2.5em;
    padding: 0;
  }
  .info {
    width: 22em;
  }
  .info div {
    flex-direction: column;
  }
  .email-Btn {
    margin: 0 0.3em 1.5em;
  }
  .link-div {
    flex: 1;
    flex-wrap: wrap;
  }
  .quick-link,
  .support {
    margin-right: 5em;
  }
  .chat {
    width: 2.8em;
    right: 1.5em;
  }
  .ans:hover .answer {
    color: var(--pr-head);
  }
  .eDates {
    display: none;
  }
  .event-Container {
    position: relative;
  }
  .mob-eDates {
    display: flex;
    gap: 1em;
    width: 90vw;
    background: var(--dk-lit);
    border: none;
    padding: 1em 1em 1.5em;
    border-radius: 1em 1em 0 0;
  }
  .mob-eDates a {
    color: var(--white);
    font-size: 0.85em;
    padding: 0.8em;
    width: 25em;
    border-radius: 2em;
  }
}

@media (max-width: 30em) {
  /* 480px = 30em */
  .mobile-links {
    width: 50%;
  }
  .sec-art,
  .enq-section,
  footer {
    padding: 3em 1.3em;
  }
  .text {
    font-size: 0.9em;
  }
  /* Hero Section Adjustments */
  .text-area h1 {
    font-size: 2.2em;
    text-align: center;
  }
  .text-area div a,
  .text-area button {
    display: block;
    font-size: 0.8em;
  }
  .text-area p {
    font-size: 0.85em;
  }
  .text-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .text-area button span {
    padding: 0.5em;
    width: 11em;
  }
  /* Enquire Section */
  .enq-section .gd {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
  .enq-section article p:last-child {
    font-size: 0.9em;
  }
  /* Tickets Section Adjustments */
  .card-item div span b {
    font-size: 1.5em;
  }
  .cpt span {
    width: 100%;
  }
  .cpt span a:first-child {
    padding: 0.3em 1.5em;
  }
  .cpt span a {
    padding: 0.3em 1em;
  }
  .card-container,
  .event-Container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .imgCard {
    width: 20em;
    max-width: 25em;
    margin: 0 auto;
  }
  .imgCard img {
    width: 100%;
    object-fit: cover;
  }
  .questions {
    width: 100%;
  }
  .ansQ {
    margin-left: 1em;
  }
  .links {
    gap: 1.5em;
  }
  .info {
    display: block;
    width: 100%;
  }
  .link-div {
    width: 100%;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
  .quick-link {
    margin-right: 6em;
  }
  .quick-link,
  .support {
    flex: 1;
  }
  .inks {
    width: 100%;
    margin-top: 0.7em;
  }
  .email-Btn {
    display: block;
    margin: 0.8em 0;
    width: 100%;
  }
  .copy-right p {
    font-size: 0.8em;
  }
  .model {
    width: 18em;
    text-align: center;
    padding: 0.75em 1em;
  }
  .model h3 {
    font-size: 1em;
    padding: 0.5em 0;
  }
  .model p {
    padding: 0.8em 0;
    font-size: 0.8em;
  }
  .model button {
    margin: 1em 0 0;
  }
  .mob-eDates {
    width: 90vw;
    padding: 1em 0.5em;
    gap: 0em;
  }
}
.control {
  opacity: 1;
  transform: translate(0);
}
